@tailwind base;
@tailwind components;
@tailwind utilities;

.black {
  background-color: #201b21;
}

.dark-grey {
  background-color: #67696e;
}

.footer-text {
  background-color: #d9dbe1;
}

.line-light-grey {
  background-color: #e9ebee;
}

.pale-green {
  background-color: #a7c6ba;
}

.orange {
  background-color: #ec5e2a;
}

.hero-bg {
  background-color: #eaeeef;
}

.splide {
  height: 100% !important;
}

.splide__pagination__page {
  background: #201b21 !important;
}
